<html lang="en">

<body>

  <div class="blogs content">
    <h2>All brrrrrrrr</h2>

        <h3 class="title">Hocus Pocus Home Assistant</h3>
        <p class="snippet"></p>
        <p>Under Maintenance</p>
        <p>Your current location:</p>
        <p id="demo"></p>
        
  </div>
 
</body>

<script language="JavaScript" src="http://geoplugin.net/javascript.gp" type="text/javascript"></script>
<script type="text/javascript">
  console.log('h');
  var x = document.getElementById("demo");
  function getLocation() {
    //console.log(geoplugin_city());
    x.innerHTML = geoplugin_city() + ", " + geoplugin_countryName() + "(" + geoplugin_countryCode() + ")";
    console.log(geoplugin_city());
  }
  getLocation();
</script>
</html>