<style>
  body {
    background-color: rgb(224, 243, 253);
  }

  text {
    color: whitesmoke;
  }

  img {
    margin-left: 620px;
    margin-bottom: 20px;
  }

  .title {
    margin-top: 80px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 56px;
  }

  .asst {
    margin-left: 725px;
    background-color: brown;
    color: white;
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 10px;
  }

  .asst:hover {
    background-color: rgba(165, 42, 42, 0.76);
    color: white;
  }
</style>

<html lang="en">

<body>

  <div class="blogs content">
    <h4 id="demo" style="text-align: right;"></h4>
    <h1 class="title" id="title">Hocus Pocus Home Assistant</h1>
    <img src="./icon.jpg" />
    <div>
      <input class="asst" type="button" id="btn" value="Click Me!"></button>
    </div>
    <div>
      <textarea id="phraseDiv">

      </textarea>
    </div>
  </div>

</body>

<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script language="JavaScript" src="http://geoplugin.net/javascript.gp" type="text/javascript"></script>

<script>
  // status fields and start button in UI
  var phraseDiv;
  var startRecognizeOnceAsyncButton;

  // subscription key and region for speech services.
  var subscriptionKey, serviceRegion;
  var SpeechSDK;
  var recognizer;

  document.addEventListener("DOMContentLoaded", function () {
    startRecognizeOnceAsyncButton = document.getElementById("btn");
    subscriptionKey = "daf9781e4092446f823aad48269a90d0";
    serviceRegion = "eastus";
    phraseDiv = document.getElementById("phraseDiv");

    startRecognizeOnceAsyncButton.addEventListener("click", function () {
      startRecognizeOnceAsyncButton.disabled = true;
      startRecognizeOnceAsyncButton.value = "Speak!";
      phraseDiv.innerHTML = "";

      var speechConfig = SpeechSDK.SpeechConfig.fromSubscription(subscriptionKey, serviceRegion);

      speechConfig.speechRecognitionLanguage = "en-US";
      var audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
      recognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

      recognizer.recognizeOnceAsync(
        function (result) {
          startRecognizeOnceAsyncButton.disabled = false;
          startRecognizeOnceAsyncButton.value = "Click Me!";
          phraseDiv.innerHTML += result.text;
          window.console.log(result);

          let strArr = result.text.split(" ");

          if (strArr[0] == 'Search') {
            let searchStr = '';
            for (let i = 1; i < strArr.length; i++) {
              searchStr += strArr[i] + ' ';
            }
            $.post('http://localhost:3000/api/getSearch', { q: searchStr, hl: "en", gl: "us", google_domain: "google.com" },
              function (returnedData) {
                console.log(returnedData);
                sessionStorage.setItem("items", JSON.stringify(returnedData));
                sessionStorage.setItem("keyword", searchStr);
                window.location.replace("/searchItem");
              });
          } else if (strArr[0] == 'Play') {
            let searchStr = '';
            for (let i = 1; i < strArr.length; i++) {
              searchStr += strArr[i] + ' ';
            }
            let q = searchStr;
            let type = 'track';
            let limit = 50;
            let accessToken = 'BQAOnB6D9pXT-CASm_VqLDBjmq7_JAESEcQDanm_7MRFMN55JMAKKAvahJNuxz2_9_Y35_9bgSMhECk_r83UfZ1BgY0v4ZV8kCmBthHEwWARNQF6mwq8zxtvfNw5gB_mZV48q5QaGHU_lB8NeMJGNsCwHjcsgUnnYwzsHU1uxpKpyccZo1qiYahAoY8o9837lG8';

            $.ajax({
              url: 'https://api.spotify.com/v1/search?q=' + q + '&type=' + type + '&limit=' + limit,
              type: 'GET',
              headers: {
                Authorization: 'Bearer ' + accessToken
              },
              error: function (err) {
                console.log(err);
              },
              success: function (result) {
                console.log(result);
                sessionStorage.setItem("items", JSON.stringify(result));
                sessionStorage.setItem("keyword", searchStr);
                window.location.replace("/musicItem");
              }
            });

          } else if (strArr[0] == 'Show' && strArr[1] == 'news') {

            $.post('http://localhost:3000/api/newsSearch', { lang: 'en', country: geoplugin_countryName(), geo: geoplugin_city() },
              function (returnedData) {
                console.log(returnedData);
                sessionStorage.setItem("items", JSON.stringify(returnedData));
                sessionStorage.setItem("keyword", "Local News");
                window.location.replace("/newsItem");
              });
          } else if (strArr[0] == 'Show' && strArr[1] == 'map.') {
            console.log('nnn');
            window.location.replace('/mapNew');
          }

          recognizer.close();
          recognizer = undefined;
        },
        function (err) {
          startRecognizeOnceAsyncButton.disabled = false;
          startRecognizeOnceAsyncButton.value = "Click me!";
          phraseDiv.innerHTML += err;
          window.console.log(err);

          recognizer.close();
          recognizer = undefined;
        });
    });


  });
</script>

<script type="text/javascript">
  var x = document.getElementById("demo");
  function getLocation() {
    x.innerHTML = geoplugin_city() + ", " + geoplugin_countryName();
  }
  getLocation();

</script>

</html>