<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<style>
    .topnav {
        overflow: hidden;
        background-color: rgb(47, 130, 255);
    }

    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav input.split {
        float: right;
        background-color: rgb(47, 130, 255);
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border: none;
    }

    .topnav input:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }
</style>

<body style='border:0; margin: 0'>
    <div class="topnav">
        <a href="http://localhost:3000/">Hocus Pocus Home Assistant</a>
        <input type="button" class="split" id="btn" value="Click Me!"></input>
    </div>
    <div id='map'></div>
</body>


<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"></script>
<script language="JavaScript" src="http://geoplugin.net/javascript.gp" type="text/javascript"></script>


<script>
    let map = L.map('map', {
        layers: MQ.mapLayer(),
        center: [23.729499524655477, 90.38403603051088],
        zoom: 12
    });


    function runDirection(start, end) {

        // recreating new map layer after removal
        map = L.map('map', {
            layers: MQ.mapLayer(),
            center: [23.729499524655477, 90.38403603051088],
            zoom: 12
        });

        var dir = MQ.routing.directions();

        dir.route({
            locations: [
                start,
                end
            ]
        });


        CustomRouteLayer = MQ.Routing.RouteLayer.extend({
            createStartMarker: (location) => {
                var custom_icon;
                var marker;

                custom_icon = L.icon({
                    iconUrl: 'img/red.png',
                    iconSize: [20, 29],
                    iconAnchor: [10, 29],
                    popupAnchor: [0, -29]
                });

                marker = L.marker(location.latLng, { icon: custom_icon }).addTo(map);

                return marker;
            },

            createEndMarker: (location) => {
                var custom_icon;
                var marker;

                custom_icon = L.icon({
                    iconUrl: 'img/blue.png',
                    iconSize: [20, 29],
                    iconAnchor: [10, 29],
                    popupAnchor: [0, -29]
                });

                marker = L.marker(location.latLng, { icon: custom_icon }).addTo(map);

                return marker;
            }
        });

        map.addLayer(new CustomRouteLayer({
            directions: dir,
            fitBounds: true
        }));
    }


    // function that runs when form submitted
    function submitForm(start, end) {
        // event.preventDefault();

        // // delete current map layer
        map.remove();

        // // getting form data
        // start = document.getElementById("start").value;
        // end = document.getElementById("destination").value;

        console.log(start, ' ', end);

        // run directions function
        runDirection(start, end);

        // // reset form
        // document.getElementById("form").reset();
    }

    // // asign the form to form variable
    // const form = document.getElementById('form');

    // // call the submitForm() function when submitting the form
    // form.addEventListener('submit', submitForm);


    startRecognizeOnceAsyncButton = document.getElementById("btn");
    subscriptionKey = "daf9781e4092446f823aad48269a90d0";
    serviceRegion = "eastus";

    startRecognizeOnceAsyncButton.addEventListener("click", function () {
        startRecognizeOnceAsyncButton.disabled = true;
        startRecognizeOnceAsyncButton.value = "Speak!";

        var speechConfig = SpeechSDK.SpeechConfig.fromSubscription(subscriptionKey, serviceRegion);

        speechConfig.speechRecognitionLanguage = "en-US";
        var audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

        recognizer.recognizeOnceAsync(
            function (result) {
                startRecognizeOnceAsyncButton.disabled = false;
                startRecognizeOnceAsyncButton.value = "Click Me!";
                window.console.log(result);

                let strArr = result.text.split(" ");

                if (strArr[0] == 'Search') {
                    let searchStr = '';
                    for (let i = 1; i < strArr.length; i++) {
                        searchStr += strArr[i] + ' ';
                    }
                    $.post('http://localhost:3000/api/getSearch', { q: searchStr, hl: "en", gl: "us", google_domain: "google.com" },
                        function (returnedData) {
                            console.log(returnedData);
                            sessionStorage.setItem("items", JSON.stringify(returnedData));
                            sessionStorage.setItem("keyword", searchStr);
                            window.location.replace("/searchItem");
                        });
                } else if (strArr[0] == 'Play') {
                    let searchStr = '';
                    for (let i = 1; i < strArr.length; i++) {
                        searchStr += strArr[i] + ' ';
                    }
                    let q = searchStr;
                    let type = 'track';
                    let limit = 50;
                    let accessToken = 'BQAOnB6D9pXT-CASm_VqLDBjmq7_JAESEcQDanm_7MRFMN55JMAKKAvahJNuxz2_9_Y35_9bgSMhECk_r83UfZ1BgY0v4ZV8kCmBthHEwWARNQF6mwq8zxtvfNw5gB_mZV48q5QaGHU_lB8NeMJGNsCwHjcsgUnnYwzsHU1uxpKpyccZo1qiYahAoY8o9837lG8';

                    $.ajax({
                        url: 'https://api.spotify.com/v1/search?q=' + q + '&type=' + type + '&limit=' + limit,
                        type: 'GET',
                        headers: {
                            Authorization: 'Bearer ' + accessToken
                        },
                        error: function (err) {
                            console.log(err);
                        },
                        success: function (result) {
                            console.log(result);
                            sessionStorage.setItem("items", JSON.stringify(result));
                            sessionStorage.setItem("keyword", searchStr);
                            window.location.replace("/musicItem");
                        }
                    });

                } else if (strArr[0] == 'Show' && strArr[1] == 'news') {

                    $.post('http://localhost:3000/api/newsSearch', { lang: 'en', country: geoplugin_countryName(), geo: geoplugin_city() },
                        function (returnedData) {
                            console.log(returnedData);
                            sessionStorage.setItem("items", JSON.stringify(returnedData));
                            sessionStorage.setItem("keyword", "Local News");
                            window.location.replace("/newsItem");
                        });
                } else if (strArr[0] == 'Distance') {
                    let from = strArr[2];
                    let to = strArr[4];

                    submitForm(from, to);
                } else if (strArr[0] == 'Show' && strArr[1] == 'map.') {
                    console.log('nnn');
                    window.location.replace('/mapNew');
                } else if (strArr[0] == 'Find' && strArr[1] == 'TV' && (strArr[2] == 'series' || strArr == 'series.')) {
                    let searchStr = '';
                    for (let i = 3; i < strArr.length; i++) {
                        searchStr += strArr[i] + ' ';
                    }
                    console.log(searchStr);
                    $.get('https://api.tvmaze.com/search/shows?q=' + searchStr,
                        function (returnedData) {
                            console.log(returnedData);
                            sessionStorage.setItem("items", JSON.stringify(returnedData));
                            sessionStorage.setItem("keyword", searchStr);
                            window.location.replace("/tvSeries");
                        });
                } else if (strArr[0] == 'Take' && (strArr[1] == 'note' || strArr[1] == 'note.')) {
                    let noteDetails = '';
                    for (let i = 2; i < strArr.length; i++) {
                        noteDetails += strArr[i] + ' ';
                    }
                    $.post('http://localhost:3000/api/uploadNote', { noteDetails: noteDetails },
                        function (returnedData) {
                            console.log(returnedData);
                            sessionStorage.setItem("items", JSON.stringify(returnedData));
                            sessionStorage.setItem("keyword", "Notes");
                            window.location.replace("/noteItem");
                        });

                } else if (strArr[0] == 'Fetch') {
                    if (strArr[1] == 'all') {
                        $.post('http://localhost:3000/api/getAllNotes', {},
                            function (returnedData) {
                                console.log(returnedData);
                                sessionStorage.setItem("items", JSON.stringify(returnedData));
                                sessionStorage.setItem("keyword", "Notes");
                                window.location.replace("/noteItem");
                            });
                    } else if (strArr[1] == 'note' && strArr[2] == 'dated') {
                        let month = '';
                        if (strArr[4] == 'January') {
                            month = '01';
                        } else if (strArr[4] == 'February') {
                            month = '02';
                        } else if (strArr[4] == 'March') {
                            month = '03';
                        }
                        else if (strArr[4] == 'April') {
                            month = '04';
                        }
                        else if (strArr[4] == 'May') {
                            month = '05';
                        }
                        else if (strArr[4] == 'June') {
                            month = '06';
                        }
                        else if (strArr[4] == 'July') {
                            month = '07';
                        }
                        else if (strArr[4] == 'August') {
                            month = '08';
                        }
                        else if (strArr[4] == 'September') {
                            month = '09';
                        }
                        else if (strArr[4] == 'October') {
                            month = '10';
                        }
                        else if (strArr[4] == 'November') {
                            month = '11';
                        }
                        else if (strArr[4] == 'December') {
                            month = '12';
                        }

                        let dateString = strArr[5] + '-' + month + '-' + strArr[3];

                        console.log(dateString);

                        $.post('http://localhost:3000/api/getNotesByDate', { date: dateString },
                            function (returnedData) {
                                console.log(returnedData);
                                sessionStorage.setItem("items", JSON.stringify(returnedData));
                                sessionStorage.setItem("keyword", "Notes");
                                window.location.replace("/noteItem");
                            });
                    }
                }

                recognizer.close();
                recognizer = undefined;
            },
            function (err) {
                startRecognizeOnceAsyncButton.disabled = false;
                startRecognizeOnceAsyncButton.value = "Click me!";
                phraseDiv.innerHTML += err;
                window.console.log(err);

                recognizer.close();
                recognizer = undefined;
            });
    });
</script>

</html>